

/* ======================= BASICS ============= */
	h1 {
		font-family: 'Cormorant Infant', Garamond, Times, serif;
		font-weight: 400;
		font-size: 4rem;
		color: #601d46;
	}

	h2 {
		text-align: center;
		font-family: 'Cormorant Infant', Garamond, Times, serif;
		font-weight: 400;
		font-size: 3rem;
		color: #601d46;
	}

	h3 {
		font-family: 'Cormorant Infant', Garamond, Times, serif;
		font-weight: 700;
		font-size: 2rem;
		color: #601d46;
	}

	p,li {
		font-family: 'Cormorant Infant', Garamond, Times, serif;
		font-weight: 400;
		font-size: 1.3rem;
		color: #424242;
	}

	a { 
		color: #601d46;
		text-decoration: none;
		font-weight: 700;
	}
	a:hover { color: #e79f39; }
	a:active { color: #e79f39; }


/* ======================= SPECIAL § ============= */

	.layout__special-section {
		padding: 20px;
		background-color: #c1d1e1;
	}

	.type__immutable {
		/*margin-left: 1rem;*/
		padding: 0 1rem;
		border-left: 6px solid #601d46;
		font-weight: 700;
		font-size: 1.6rem; 
	}











